<!-- <!DOCTYPE html>
<html>

<head>
</head>

<body>
  <div id="cards-container">
    <div class="row">
      <div class="col-sm-2">
        <div class="card">
          <img class="card-img-top" src="../assets/got.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html> -->

<div id="container">
  <!-- <app-sidebar></app-sidebar> -->

  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>