<div class="container-fluid">

  <div class="container" *ngIf="currentBook" style="word-wrap: break-word;background-color: #ffbf00">
    <div class="row">
      <div class="col-md-12">
        <h1 class="heading" style="margin-left: 30%; font-style: italic; font-weight: 700; text-shadow: 0 0 3px #FF0000;">{{currentBook.name}}</h1>
      </div>
    </div>
    <img src="assets/books.jpg" class="img-fluid" alt="Responsive image" style="margin-left: 30%;margin-top:3%; max-width:500px">
    <div class="row " style="margin-top:6%; font-size:20px;font-weight:bold ; color:hsl(0, 100%, 30%);">
      <div class="col-md-6">
        <p>ISBN : {{currentBook.isbn}}</p>
        <p>Author : {{currentBook.authors}}</p>
        <p>No Of Pages : {{currentBook.numberOfPages}}</p>
      </div>
      <div class="col-md-6">
        <p>Publisher : {{currentBook.publisher}}</p>
        <p>MediaType : {{currentBook.mediaType}}</p>
        <p>Released On : {{currentBook.released|date}}</p>
      </div>
    </div>

    <div class="row" style="margin-top: 6%; font-size:16px">
      <div class="col-md-12">
        <div style="text-shadow: 0 0 3px #FF0000;font-weight: 700;font-size:28px">Characters :</div>
        <div style="margin-top:2%;color:hsl(0, 100%, 30%)"> {{currentBook.characters}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div style="text-shadow: 0 0 3px #FF0000;font-weight: 700;font-size:28px">Pov Characters :</div>
        <div style="margin-top:2%;color:hsl(0, 100%, 30%)"> {{currentBook.povCharacters}}</div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <!--characters-->
  <div class="container" *ngIf="currentCharacter" style="word-wrap: break-word; background-color: #ddd">
    <div class="row">
      <div class="col-md-12" style="color:#ffbf00;">
        <h1 class="heading" style="margin-left: 30%; font-style: italic; font-weight: 700;">{{currentCharacter.name}}</h1>
      </div>
    </div>
    <img src="assets/characters.jpg" class="img-fluid" alt="Responsive image" style="margin-left: 30%;margin-top:3%; max-width:500px">
    <div class="row" style="margin-top:4%; font-weight:bold">
      <div class="col-md-6" style="font-size: 20px">
        <p>Gender : {{currentCharacter.gender}}</p>
        <p>Culture : {{currentCharacter.culture}}</p>
        <p>Born on : {{currentCharacter.born}}</p>
        <p>Father : {{currentCharacter.father}}</p>
        <p>Mother : {{currentCharacter.mother}}</p>
      </div>
      <div class="col-md-6" style="font-size: 20px">
        <p>Spouse : {{currentCharacter.spouse}}</p>
        <p>Died on : {{currentCharacter.died}}</p>
        <p>Title : {{currentCharacter.titles}}</p>
        <p>Aliaes : {{currentCharacter.aliases}}</p>
        <p>Played By : {{currentCharacter.playedBy}}</p>
      </div>
    </div>
    <hr>
    <div class="row" style="margin-top:4%; font-weight:bold">
      <div class="col-md-12">
        <p>TV Series : {{currentCharacter.tvSeries}}</p>
      </div>
      <div class="col-md-12">
        <p>Allegiances : {{currentCharacter.allegiances}}</p>
      </div>
      <div class="col-md-12">
        <p>Books : {{currentCharacter.books}}</p>
      </div>
      <div class="col-md-12">
        <p>Pov Books : {{currentCharacter.povBooks}}</p>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="currentHouse" style="word-wrap: break-word; background-color:black">
    <div class="row" style="color:coral">
      <div class="col-md-12" style="text-align: center">
        <h1 class="heading">{{currentHouse.name}}</h1>
      </div>
    </div>
    <img src="assets/houses.jpg" class="img-fluid" alt="Responsive image" style="margin-left: 30%;margin-top:3%; max-width:500px">
    <div class="row" style="margin-top:3%; color:#ffbf00; margin-left: 3% ; font-size: 20px">
      <div class="col-md-6">
        <div>Region :{{currentHouse.region}}</div>

        <p>Words :{{currentHouse.words}}</p>
        <p>Title :{{currentHouse.titles}}</p>
        <p>Seats :{{currentHouse.seats}}</p>
        <p>Overloaded :{{currentHouse.overloaded}}</p>

      </div>
      <div class="col-md-6">

        <p>Founded On :{{currentHouse.founded}}</p>
        <p>Died Out :{{currentHouse.diedOut}}</p>
        <p>Ancestoral Weapons :{{currentHouse.ancestoralWeapons}}</p>
        <p>Cadet Branches :{{currentHouse.cadetBranches}}</p>

      </div>
    </div>
    <hr>
    <div class="col-md-12" style="margin-top: 3% ;color:#ffbf00; margin-left: 3% ; font-size: 20px">
      <div>Coat Of Arms :{{currentHouse.coatOfArms}}</div>
    </div>
    <div class="col-md-12" style="color:#ffbf00; margin-left: 3% ; font-size: 20px">
      <div>CurrentLord :{{currentHouse.currentLord}}</div>
    </div>
    <div class="col-md-12" style="color:#ffbf00; margin-left: 3% ; font-size: 20px">

      <div>Heir :{{currentHouse.heir}}</div>
    </div>
    <div class="col-md-12" style="color:#ffbf00; margin-left: 3% ; font-size: 20px">
      <div>Sworn Members :{{currentHouse.swornMembers}}</div>
    </div>
  </div>
</div>